@import "global/mixins";
@import "global/variables";

.summary {
    &__header-link {
        text-decoration: none;
        color:inherit;
    }

    &__sep {
        border:0;
        border-top:1px solid #eee;
        @include margin-bottom(2);

        &:last-child {
            display:none;
        }
    }

    &__thumb {
        &-wrap {
            float:left;
            margin-left:-160px;
            margin-top:.6em;
        }

        &-img {
            border-radius:50%;
            width:80px;
            height:80px;
            @include margin-bottom(.5);
        }

        &-label {
            text-align:center;
            font-size:$xsFontSize;
        }
    }
}