@import "global/variables";
@import "global/reset";
@import "summary";

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size:$defaultFontSize;
}

body {
    margin:0;
    padding:0;
    font:1rem/1.6 'Roboto Slab', serif;
    color:$textColor;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.content-wrapper {
    @media #{$small} {
        padding:30px 20px;
    }

    @media #{$large} {
        max-width:800px;
        margin:30px auto;
    }
}

.sidebar {
    float:left;
    width:200px;
}

.content {
    @media #{$large} {
        margin-left:200px;
        border-left:1px solid $primaryColor;
        padding-left:40px;
    }
}

.author-thumb {
    float:left;
    margin-top:.6em;

    @media #{$large} {
        margin-left:-160px;
    }

    @media #{$small} {
        margin-right:20px;
    }

    &-img {
        border-radius:50%;
        width:80px;
        height:80px;
        @include margin-bottom(.5);
    }

    &-label {
        text-align:center;
        font-size:$xsFontSize;
    }
}