@import "variables";
@import "mixins";

h1,h2,h3,h4,h5,h6 {
    margin:0;
    font-weight:normal;
    font-family:inherit;
}
a {
    color:#0CAFCD;
}

h1 {
    font-size:$xxlFontSize;
    line-height:1.5;
    @include margin-bottom;
}

h2 {
    font-size:$xlFontSize;
    line-height:1.3;
    @include margin-bottom;
}

p {
    margin-top:0;
    @include margin-bottom;
}

figure {margin:0;}

code {
    overflow: scroll;
    background: #444;
    color: #ddd;
    padding: 20px;
    display:block;
    margin:$hSpacing 0;
}

img {max-width:100%;}