<html>
    <% include partials/header %>

    <body>
        <main class="content-wrapper">
            <section class="content">
                <% metadataItems.forEach(item => { %>
                    <figure class="author-thumb">
                        <img class="author-thumb-img" src="<%- item.creator_thumb %>" alt="<%- item.creator_name %>">
                        <figcaption class="author-thumb-label"><%- item.creator_name %></figcaption>
                    </figure>

                    <h1 class="summary__header">
                        <a href="/<%- item.slug %>" class="summary__header-link"><%- item.title %></a>
                    </h1>

                    <p class="summary__description"><%- item.summary %></p>

                    <hr class="summary__sep">
                <% }) %>
            </section>
        </main>
    </body>
</html>