<!DOCTYPE html>
<html>
    <% include partials/header %>

    <body>
        <main class="content-wrapper">
            <section class="content story">
                <figure class="author-thumb">
                    <img class="author-thumb-img" src="<%- metadata.creator_thumb %>" alt="<%- metadata.creator_name %>">
                    <figcaption class="author-thumb-label"><%- metadata.creator_name %></figcaption>
                </figure>

                <%- pageContents %>
            </section>
        </main>
    </body>
</html>